<h1>This is the page where a user's single annotations is shown</h1>

<p><strong>Quote:</strong> <%= @annotation.quote %></p>
<p><strong>Note:</strong> <%= @annotation.note %></p>
<p><strong>Notebook:</strong> <%= @annotation.notebook.name %></p>
<p>Created <%= time_ago_in_words(@annotation.created_at) %> ago</p>
<p> 
	<%= link_to 'Like', like_annotation_path(@annotation), method: :put %> 
	<%= link_to 'Dislike', dislike_annotation_path(@annotation), method: :put %> |
	Total likes: <%= @annotation.get_upvotes.size %> | 
	<% if can? :update, @annotation %> 
		<%= link_to 'Edit', edit_annotation_path %> 
	<% end %>
	<% if can? :destroy, @annotation %>
		<%= link_to 'Delete', annotation_path(@annotation), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</p>
<hr>
<p><%= @annotation.comments.count %> comments</p>
<%= render @annotation.comments %>
<hr>
<p>Add a comment:</p>
<%= render "comments/form" %>


