<!DOCTYPE html>
<html>
<head>
  <title>Peerlensv1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>MENU: <%= link_to 'User\'s Annotations', root_path %> | <%= link_to 'External Page to Annotate', new_annotation_path %></p>


<%= yield %>

</body>
</html>
